* {
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: black;
    height: 60px;
    color: white;
}
.navbar_logo {
    width: 113px;
    height: 60px;
    margin-left: 20px;
}
.navbar_logo img {
    width: 113px;
    height: 60px;
    object-fit: cover;
}
.navbar_location {
    display: flex;
    width: 60px;
    margin-left: 15px;
}
.navbar_search {
    display: flex;
    margin-left: 80px;
    width: 100px;
}
.navbar_dropdown {
    display: flex;
}
.navbar_language {
    margin-left: 30px;
}